{{ partial:menu_main }}

<div class="grid-page no-dot" id="top"> 

  <nav class="nav-main home-section--nav home-grid--nav">
    {{ partial:svg_journey }}
  </nav>

  <header class="page-header--generic page-header--nomenu" id="page-header--nomenu">
    <a href="/" class="site-logo">
      {{ theme:img src="faros-logo-white-horizontal.png" tag="true" }}
    </a>
    <div class="page-intro__image">
        {{ assets:headerimage }}
        <img src="{{ permalink }}">
      {{ /assets:headerimage }}
    </div>
    <div class="page-intro__text">
      <h1 class="page-intro__title">{{ title }}</h1>
    </div>
  </header>

  <main class="about-section about-grid--main">

      <article class="section-a parallax fadeIn">
        <header class="section-a__header"><span>{{ auxtitle }}</span></header>
        <h2 class="section-a__title">{{ title1 }}</h2>
        <div class="section-a__text">
            {{ content1 | markdown }}
            {{ if htmlcontent }} {{ htmlcontent }} {{ /if }}
        </div>
      </article>      

      {{ if quote_author && quote_text && quote_background }}
        {{ partial:quote }}
      {{ /if }}

    </main>

    {{ partial:footer_nomap }}
    
</div> <!-- end grid-page -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ theme:js src='site-home.js' }}"></script>